################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/samples/MvcClient/MvcClient/bin/Debug/netcoreapp3.1
