// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:hsla(0,0%,100%,.7);
$menuActiveText:#fff;
$subMenuActiveText:#fff; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#191a23;
$menuHover:#191a23;

$subMenuBg:#101117;
$subMenuHover:#101117;
$subMenuActiveBg: #2d8cf0;

$sideBarWidth: 256px;

// 题目颜色
$singleChoice: #1A8CFE;
$multipleChoice: #1DC88C;
$trueOrFalse: #F76377;
$fillBlank: #A06AD2;
$questionAndAnswer: #C9A310;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
