@using Microsoft.AspNetCore.Mvc.Localization
@using LazyAbp.Abp.AuthCenter.Localization
@inject IHtmlLocalizer<AuthCenterResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
